* {
    box-sizing: border-box;
}

header{
    text-align: center;
}

.errors {
    font-size: 18pt;
    font-weight: bold;
    color: red;
    text-align: center;
}

h2 {
    text-align: center;
    color: rgb(22, 155, 22);
}

.card-container{
    width: 100%;
    max-width: 500px;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 3fr 1fr 1fr;
    margin: 0 auto;
}

.card-front,
.card-back {   
    border-radius: 12px;
    border: 2px solid #333;
    background-color: lightgray;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.card-back {
    padding: 10px 0px;
    grid-column: 2/4;
    grid-row: 2/4;
    z-index: 1;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 2fr 1fr 2fr;
}

.card-front {
    padding: 10px 10px;
    grid-column: 1/3;
    grid-row: 1/3;
    z-index: 2;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.magnetic-strip {
    grid-column: 1/3;
    grid-row: 1/2;
    height: 50%;
    background-color: black;
    width: 100%;
}

.cvc {
    grid-column: 2/3;
    grid-row: 3/4;
    padding: 0 10px;
}

.cvc input {
    width: 6ch;
    font-size: 1.0rem;
}

.submit-btn {
    grid-column: 3/4;
    grid-row: 4/5;
    margin: 10px auto;
    padding: 5px;
    font-weight: bold;
}

button {
    border-radius: 5px;
    font-weight: bold;
    padding: 5px 10px;
}

.total {
    grid-column: 1/2;
    grid-row: 1/2;
    font-size: 1.0rem;
    font-weight: bold;
}

.card-img {
    grid-column: 2/3;
    grid-row: 1/2;
    font-size: 2.5em;
    margin: 0px;
    text-align: right;
}

.number {
    grid-column: 1/2;
    grid-row: 2/3;
}

#card-number {
    font-size: 1.0rem;
}

.card-name {
    grid-column: 1/2;
    grid-row: 3/4;
}

#cardholder {
    font-size: 1.0rem;
}

.card-exp{
    grid-column: 2/3;
    grid-row: 3/4;
}

#month,
#year {
    width: 4ch;
    font-size: 1.0rem;
}