body {
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
}

header, main, footer {
  max-width: 1000px;
  margin: 1rem auto;
  border: 1px solid #ccc;
  padding: 1rem;
  text-align: center;
}

header, footer {
    background-color: #2a81e2;
    color: white;
}

main{
    background-color: #cacaca;
}

.gallery {
    display:grid;
    grid-template-columns: 1fr;
}

nav a {
        display: block;
    }

.hide {
    display:none;
}

figure img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border: 5px solid white;
    margin: 0 auto;
    box-shadow: 5px 5px 15px black;
}

dialog img {
    width: 90%;
    display: block;
    margin: 15vh auto;
}
dialog {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.75);
}
.close-viewer {
    position: absolute;
    top: 15vh;
    right: 3vh;
    padding: 5px 5px;
    font-size: 1em;
}

a{
    color: white;
    /* text-decoration: none; */
    padding: 15px;
}

.menu-btn {
    cursor: pointer;
    border: none;
    background-color: transparent;
    color: white;
    font-size: 1.5em;
}

.menu-btn p {
    margin: 0;
}

@media screen and (min-width: 700px) {
    .gallery{
        grid-template-columns: 1fr 1fr;
    }  
}

@media screen and (min-width: 1100px) {
    nav {
        display: block;
    }

    .hide {
        display:block;
    }

    .gallery{
        grid-template-columns: 1fr 1fr 1fr;
    }  

    .menu-btn {
        display: none;
    }

    nav a {
        display: inline;
    }

}