body {
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
}

header, main, footer {
  max-width: 1000px;
  margin: 1rem auto;
  border: 1px solid #ccc;
  padding: 1rem;
  text-align: center;
}

header, footer {
    background-color: #2a81e2;
    color: white;
}

main{
    background-color: #cacaca;
    display:grid;
    grid-template-columns: 1fr;
}

nav a {
        display: none;
    }

img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border: 5px solid white;
    margin: 10px;
    filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.5))
}

a{
    color: white;
    text-decoration: none;
    padding: 15px;
}

.menu-btn {
    cursor: pointer;
    border: none;
    background-color: transparent;
    color: white;
    font-size: 1.5em;
}

.menu-btn p {
    margin: 0;
}

@media screen and (min-width: 700px) {
    main{
        grid-template-columns: 1fr 1fr;
    }  

    #subtitle {
        grid-column: span 2;
    }
}

@media screen and (min-width: 1000px) {
    main{
        grid-template-columns: 1fr 1fr 1fr;
    }  

    #subtitle {
    grid-column: span 3;
    }

    .menu-btn {
        display: none;
    }

    nav a {
        display: inline;
    }

}