body {
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
}

nav {
    text-align: right;
    border-top: 2px solid rgb(255, 187, 0);
    border-bottom: 2px solid rgb(255, 187, 0);
    padding: 10px;
}

nav a {
    padding: 30px;
    text-decoration: none;
    font-size: 1.25em;
    font-weight: bold;
    color: rgb(190, 0, 0);
}

main {
    padding: 40px 0px;
}

article {
    border-top: 2px solid rgb(255, 187, 0);
    border-bottom: 2px solid rgb(255, 187, 0);
}

.book-review {
    display: grid;
    grid-template-columns: 75% 25%;
    padding: 0px 30px;   
}

.details {
    grid-column: 1/3;
    text-align: right;
    font-weight: bold;
}

.book-date {
    font-style: italic;
}

.book-info {
    display: grid;
    text-align: left;
}

.book-info .title {
    font-size: 1.75em;
    font-weight: bold;
    color: rgb(190, 0, 0);
}

.book-info .cover {
    justify-self: center;
    max-width: 100%;
    height: auto;
}

.description {
    font-size: 1.2em;
    font-weight: bold;
}

footer {
    text-align: center;
    font-weight: bold;
    font-size: 1.2em;
}

@media screen and (min-width: 1100px) {
    .book-review {
        grid-template-columns: 35% 65%;
        border-top: none;
        padding: 30px 0;
    }

    main {
        padding: 0;
    }

    .details {
    grid-column: 1/2;
    padding: 0px 20px;
    border-right: 2px solid rgb(255, 187, 0);
    }

    .book-info {
        padding: 0px 20px;
    }

}