body {
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
}

nav {
    text-align: right;
    border-top: 2px solid rgb(255, 187, 0);
    border-bottom: 2px solid rgb(255, 187, 0);
    padding: 10px;
}

nav a {
    padding: 30px;
    text-decoration: none;
    font-size: 1.25em;
    font-weight: bold;
    color: rgb(190, 0, 0);
}

#book-list {
    display: grid;
    grid-template-rows: auto;
    gap: 1rem;
    max-width: 1100px;
    margin: 2rem auto;
    padding: 0 1rem;
}

article {
    display: grid;
    grid-template-columns: 75% 25%;
    padding: 25px;
    border-top: 2px solid rgb(255, 187, 0);
}

article:first-child {
    border-top:none;
}

.rating {
    grid-column: 2/3;
    text-align: right;
    font-weight: bold;
    font-size: 1.25em;
}

.book-date {
    font-style: italic;
}

.title {
    font-size: 1.75em;
    font-weight: bold;
    color: rgb(190, 0, 0);
}

.cover {
    display: block;
    margin: 0 auto;
    width: 300px;
}

.info {
    font-size: 1.2em;
    font-weight: bold;
}

footer {
    text-align: center;
    font-weight: bold;
    font-size: 1.2em;
    border-top: 2px solid rgb(255, 187, 0);
    border-bottom: 2px solid rgb(255, 187, 0);
}

@media screen and (min-width: 1100px) {
    article {
        grid-template-columns: 35% 65%;
        border-top: none;
    }

    .rating {
        grid-column: 1/2;
        padding-right: 30px;
    }

    .info {
        padding-left: 30px;
        border-left: 2px solid rgb(255,187,0);
    }
}